/* Custom CSS for slick-prev and slick-next arrows */
.slick-prev:before {
  content: '←'; /* Unicode character for left arrow */
  color: gray; /* Color of the arrow */
  font-size: 20px; /* Size of the arrow */
}

.slick-next:before {
  content: '→'; /* Unicode character for right arrow */
  color: gray; /* Color of the arrow */
  font-size: 20px; /* Size of the arrow */
}
